<p style="color: green"><%= notice %></p>

<h1>List of Sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>Time Slot</th>
      <th>Number of Student</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do | section | %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.room %></td>
        <td><%= section.time_slot %></td>
        <td><%= section.number_of_students %></td>
        
        <td><%= link_to "Show this section", section %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New section", new_section_path %>